@media only screen and (max-width: 600px) {
    body {
      text-align: justify;
      font-size: 16px;
    }
  }

@media only screen and (min-width: 601px) {
    body {
      text-align: justify;
      font-size: 15px;
    }
    #first-half {
      margin-bottom: -50px !important;
    }
  }

body {
  font-family: "open sans";
  font-weight: 400;
  line-height: 22px;
  color: #3a3a3a;
}

a {
  color: white;
}

a:hover {
  color: white;
}

hr {
  color: #F0F0F0
}

.btn-blue {
  background-color: #64c9d0 !important;
}

.cta {
    height: 5rem; 
    width: 100% !important;
}


#logo{
    width: 100%;
    height: auto;
}

#cbd {
    width: 100%;
    height: auto;
}

#footer {
  background-color: #28a5cb;
  color: white;
  font-size: 11px;
}

#footer img {
    max-width: 20px;
    margin-right: 10px;
}

#btns {
    text-align: center;
}

